body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
               sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background: url("../images/Clouds.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  border: 3px solid #f1f1f1;
  width: 400px;
  margin: 60px auto;   
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  position: relative;
  background-color: white;
}

h2 {
  text-align: center;
  margin-top: 0px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
}

button {
  background-color: #0873d6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: -20px 0 0 0;
}

img.avatar {
  width: 50%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

a {
  text-decoration: none;
  color: #005bee;
  font-size: 14px;
}

#fp {
  float: right;
  font-size: 14px;
}

p {
  text-align: center;
}